@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/*Body*/

body {
    font-size:13px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden !important;
    -ms-overflow-style: scrollbar;
}
/* ---- Sidebar ----*/
.navbar-inverse {
    background-color: #474747;
    border-color: #474747;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    padding: 12px;
}.navbar-brand.navbar-toggles > img {
    display: block;
    margin: 6px auto 0;
    max-width: 21px;
}.lgout img {
    width: 19px;
}
.sidebar-default {
    color: #333;
}
.sidebar-main {
    z-index: 99;
}
.sidebar {
    display: table-cell;
    vertical-align: top;
    width: 195px;
    position: relative;
    background-color: #525252;
    border: medium none;
    color: #fff;
}.sidebar-default .sidebar-content {
    background-color: #fff;
    border-color: #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    position: relative;
    border-radius: 0;
    margin-bottom: 20px;
}.category-title + .sidebar-user {
    padding-top: 5px;
    padding-bottom: 5px;
}
.category-content {
    position: relative;
    padding: 20px;
}.no-padding {
    padding: 0 !important;
}.navigation {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}.sidebar-user > a {
    background: #a0a0a0 none repeat scroll 0 0 !important;
}.navigation li.sidebar-user a span {
    margin-top: 4px;
}
.navigation li {
    position: relative;
    text-align: center;
}
.navigation > li > a {
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 25px 0;
    text-align: center;
    display: block;
    -webkit-transition: background .15s linear,color .15s linear;
    -o-transition: background .15s linear,color .15s linear;
    transition: background .15s linear,color .15s linear;
}
.navigation li a:hover, .navigation li a:focus, .navigation li a:active {
    background: #3d3d3d none repeat scroll 0 0;
}
.navigation li.active a, .navigation li.active a:hover {
    background: #3d3d3d none repeat scroll 0 0;
}.navigation > li > a img {
    display: block;
    margin: 0 auto;
}.navigation-second li a {
    padding: 13px 0;
}.navigation-second {
    margin-top: 100px;
}.navigation li a span {
    display: block;
    margin-top: 10px;
}.navigation.navigation-second li a span {
    margin-top: 0;
}
.sidebar-content .grey-hover{
    background: #7c7c7c none repeat scroll 0 0;
}
.sidebar-content .grey-hover a:hover, .sidebar-content .grey-hover a:focus, .sidebar-content .grey-hover a:active{
    background: #7c7c7c none repeat scroll 0 0;
}
.lgout {
    float: right;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    right: 15px;
    top: 12px;
}
.toggler .fa {
    color: #8a8a8a;
    margin-right: 10px;
}
a:hover,a:focus,a:active ,.btn:hover,.btn:focus,.btn:active {
    text-decoration: none;
    outline: none !important;
}
#chartdiv {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(222, 222, 242, 0.4);
    height: 245px;
    margin-bottom: 20px;
    width: 100%;
}
/*Default*/

.content-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    background: #f7f8fd none repeat scroll 0 0;
}.page-header + .page-container {
    padding-top: 0;
}
.page-container {
    width: 100%;
    display: table;
    table-layout: fixed;
    position: relative;
    height: 1px;
}.page-content {
    display: table-row;
}
.content {
    margin-top: 15px;
    margin-left:15px;
    margin-right:15px;
}
.search-group {
    margin-bottom: 20px;
}.dropdown-menu .active > a {
    color: #fff;
}

/*-------------Pagination---------*/
.pagination-separated > li > a, .pagination-separated > li > span {
    margin-left: 4px;
}.pagination.pagination-separated {
    float: right;
    margin: 10px 0;

}p.showingpara {
    float: left;
    margin-top: 18px;
}
.pagination > li > a{
    background-color: #f3f4f6;
    border-color: #9fa0a4;
    color: #333;
    border-radius: 2px;
    cursor: default;
    z-index: 2;
}.pagination > .active > a{
    background-color: #5d5d5d !important;
    border-color: #5d5d5d !important;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}.pagination > li > a:focus, .pagination > li > a:hover{
    background-color: #3D3D3D !important;
    border-color: #3D3D3D !important;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}
/*-------------Footer---------*/
footer {
    background: #E1E1E1;
    color: #3D3D3D;
    font-size: 15px;
    padding: 15px 0 5px;
    text-align: center;
}
/*-------Buttons-----------*/
.btn.btn-dark{
    background: #5d5d5d none repeat scroll 0 0;
    color: #fff;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    padding: 6px 10px;
    border-color: #5d5d5d;
}
.btn.btn-dark:hover,.btn.btn-dark:focus.btn.btn-dark:active{
    background: #8a8a8a none repeat scroll 0 0;
    border-color: #8a8a8a;
    color: #fff;
    outline: none !important;
}.btn-dark .btn{
    background: #5d5d5d none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    padding: 6px 10px;
    border-color: #5d5d5d;
}

label {position:relative}
.btn-dark .btn:hover {
    background: #8a8a8a none repeat scroll 0 0;
    border-color: #8a8a8a;
    color: #fff;
    outline: none !important;
}.btn-white.bootstrap-select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    height: auto !important;
    min-height: auto;
    width: 100% !important;
}.btn-white .btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: none !important;
    display: block !important;
    padding: 0 !important;
    text-align: left !important;
    width: 100% !important;
}.btn.btn-grey {
    padding: 7px 16px;
    background: #8a8a8a none repeat scroll 0 0;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.btn.btn-grey:hover,.btn.btn-grey:focus,.btn.btn-grey:active {
    background: #fff none repeat scroll 0 0;
    border-color: #5d5d5d;
    outline: none !important;
    color: #333;
}

.btn-group {
    list-style: outside none none;
    padding: 0;
}
/*------Boxex-----------*/
.client {
    background: #369EAD none repeat scroll 0 0;
}
.hot {
    background: #C24642 none repeat scroll 0 0;
}
.warms {
    background: #7F6084 none repeat scroll 0 0;
}
.colds {
    background: #86B402 none repeat scroll 0 0;
}
.contacts {
    background: #A2D1CF none repeat scroll 0 0;
}
.deads {
    background: #C8B631 none repeat scroll 0 0;
}
.others {
    background: #6DBCEB none repeat scroll 0 0;
}
.white-box {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 14.28%;
    float: left;
}
.white-box .white-box-content {
    border-radius: 7px;
    color: #fff;
    display: block;
    font-size: 18px;
    opacity: 0.4;
    padding: 15px 15px 5px;
}.white-box .white-box-content:hover{
    opacity: 1;
}.white-box .white-box-content.active{
    opacity: 1;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.middle-align li {
    font-size: 16px;
    padding-left: 30px;
    position: relative;
}.white-box h4{
    font-size: 16px;
}.white-box .icon {
    left: 0;
    max-width: 25px;
    position: absolute;
    top: 1px;
}
.navbar-header .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 4px;
    float: left;
    background: none;
    margin-top: 5px;
    padding-left: 22px;
}.breadcrumb a{
    color: #fff;
    font-size: 17px;
}
.breadcrumb .dropdown-menu > li > a {
    font-size: 14px;
}

/*Search*/

.sorting {
    color: #fff;
    margin-left: 12px;
}
.search-group label {
    display: inline-block;
    font-weight: normal;
    margin-left: 13px;
    margin-top: 9px;
    white-space: nowrap;
}#custom-search-input {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 5px 0 rgba(222, 222, 242, 0.4);
    padding: 3px;
}
#custom-search-input input {
    border: 0 none;
    box-shadow: none;
}#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-left: 1px solid #ddd;
    box-shadow: none;
    color: #33363b;
    margin: 2px 0 0;
    padding: 0 8px 0 10px;
    font-size: 20px;
}


/*--------------Panels--------------*/

.panel .table-striped > tbody > tr{
    background: #f3f4f6 none repeat scroll 0 0;
}
.panel .table-striped > tbody > tr:nth-child(2n+1), .table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #fff;
}
.panel .table-hover > tbody > tr:hover {
    background: #d2d3dd none repeat scroll 0 0;
    cursor: pointer;
}.panel .table-default > thead {
    background: #8A8A8A;
    color: #fff;
}


.panel.panel-flat{
    overflow: hidden;
    box-shadow: 0px 0px 4px #d5d6d8;
    border: medium none !important;
}
.panel.panel-flat.no-flat {
    box-shadow: none;
    background: #f7f8fd none repeat scroll 0 0;
}
.panel-heading {
    position: relative;
}
.panel-heading h4 {
    position: relative;
    font-size: 16px;
}
.panel-flat .panel-heading {
    background: #8a8a8a none repeat scroll 0 0;
    color: #fff;
    padding: 15px;
}.panel-light .panel-heading {
    background: #d6d6d6 none repeat scroll 0 0;
    color: #333;
    padding: 15px;
}
.panel-flat .panel-title {
    cursor: pointer;
    display: table;
    text-transform: uppercase;
}
.panel-title .fa {
    margin-right: 9px;
    position: relative;
    top: 1px;
}
.panel-light .panel-title  .fa {
    color: #8a8a8a;
}
.panel-light .heading-btn a {
    color: #333;
}
.panel.panel-light .heading-btn  h4 {
    font-size: 16px;
    color:#333;
}
.panel-flat .panel-heading a {
    color: #fff;
}.panel-flat .panel-heading .divider li a {
    color: #333;
    display: block;
    font-size: 12px;
    line-height: 1.7;
    padding: 7px 15px;
}.divider .left {
    border-right: 1px solid #ddd;
}.panel-flat .panel-heading .divider li a:focus,.panel-flat .panel-heading .divider li a:hover {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}
.panel.panel-flat .heading-btn a {
    color: #fff;
}
.panel.panel-light .heading-btn a {
    color: #333;
    font-size: 13px;
    text-transform: uppercase;
}

.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 15px;
    height: 36px;
    margin-top: -18px;
}.heading-elements .heading-btn{
    float: left;
    margin-left: 20px;
}.heading-elements.elment-left {
    float: left;
    height: auto;
    margin: 0;
    position: static;
}.heading-elements.elment-left .icons-list {
    margin: 0;
    padding-left: 15px;
}

.bootstrap-select.form-control:not([class*="col-"]) {
    height: auto;
    width: auto;
}.bootstrap-select > .dropdown-toggle {
    width: auto;
    z-index: 1;
}.search-group label .bootstrap-select {
    margin-left: 9px !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    width: auto;
}
.btn-white .bs-caret{
    position: absolute;
    right: 0;
}

/*table*/

.table > thead th {
    position: relative;
}
.table td, .table th {
    padding: 12px 10px !important;
    vertical-align: middle !important;
    white-space: nowrap;
}

   

th ul {
    margin: 0;
}
.table-default th * {
    color: #fff;
}.table.table-default thead th {
    border: medium none;
    font-size: 13px;
    padding: 14px 10px;
    text-align: left;
    text-transform: uppercase;
}.table.table-default.text-center thead th {
    text-align: center;
}.table.table-default.text-center thead th:first-child {
    text-align: left;
}.table.table-bordered tr:last-child th, .table.table-bordered tr:last-child td {
    border-bottom: medium none;
}td input.form-control {
    min-width: 165px;
}
/*.table-default th .fa {
    color: #fff !important;
}
.table-default tbody td {
    border: medium none !important;
}
*/
.table-default tr td:first-child {
    text-align: left;
}

/*.table-bordered.table-default {
    border: thin none;
}*/
.table-bordered.table-default > tbody > tr > td, .table-bordered.table-default > tbody > tr > th, .table-bordered.table-default > tfoot > tr > td, .table-bordered.table-default > tfoot > tr > th{
    border: 1px solid #ddd !important;
}
.table.table-common th {
    background: #f4f4f4 none repeat scroll 0 0;
    border-left: medium none;
    font-weight: normal;
}.  table-bordered.table-common {
    border: medium none !important;
}.table.table-default tfoot {
    background: #e2e6ef none repeat scroll 0 0;
    font-weight: bold;
}
/*.table.table-default tr td {
    border: none !important;
}
*/
.panel .table {
    margin: 0;
}
.toggler,.toggler:hover,.toggler:focus,.toggler:active {
    color: #333;
}
.tbl-link {
    text-decoration: underline;
    color: #0299ce;
    font-size: 13px;
}.th-bg-blue {
    background: #DBE9F2 none repeat scroll 0 0;
    text-align: left;
}

.heading-btn .fa,.dropdown .fa {
    font-size: 18px;
    position: relative;
    top: 1px;
}
.white-box-list.row {
    margin-left: -10px;
    margin-right: -10px;
}.icons-list {
    list-style: outside none none;
}
.heading-btn img {
    margin-right: 7px;
}
.divider {
    min-width: 280px;
    padding: 0;
}
.btn-li {
    margin-bottom: 20px;
}
.icon a {
    border-radius: 4px;
    color: #fff;
    margin-bottom: 5px;
    padding: 10px;
}.icon a img {
    margin-right: 7px;
    margin-top: -1px;
    max-width: 17px;
}.bootstrap-select.form-control{
    width:auto !important;
}
.table-collapse tbody:nth-child(odd) {
    background: #f3f4f6;
}
.table-collapse tbody:hover td[rowspan], .table-collapse tr:hover td {
    background: #b7b8c2; 
}.table-collapse tbody.open-tbody:hover td[rowspan], .table-collapse tbody.open-tbody tr:hover td {
    background: #b7b8c2 none repeat scroll 0 0; 
}.table.table-collapse >tbody+tbody {
    border: none;
}
.bootstrap-select.form-control.btn-white {
    width: 100% !important;
}.dropdown-menu.divider {
    max-height: 200px;
    overflow: auto;
}.panel.panel-open{
    overflow: visible;
}.btn-white .btn {
    min-width: 65px;
}.btn-li li {
    padding-right: 0;
}
/*dashboard*/
.crumbs > li:last-child > a::after {
    content: "";
}
.dashboard-heading{
    margin-bottom:15px;
    font-weight:600;
    font-size:20px;
}
.dashboard-list.row {
    margin-left: -10px;
    margin-right: -10px;
}
.dashboard {
    padding-left: 10px;
    padding-right: 10px;
}
.dashboard-flat{
    color:#fff;
    padding: 25px 0px;
    margin-bottom:20px;
    text-align:center;
    border-radius: 7px;
    display:block;
    opacity:0.4;
}
.dashboard-flat:hover{
    opacity: 1;
}.dashboard-flat.active{
    opacity: 1;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.dashboard-flat p{
    font-size:16px;
}
.dashboard-flat img {
    margin: 0 auto 5px;
}
.salesconnecticon{
    background:#379EAD none repeat scroll 0 0;
}
.employeeconnect{
    background:#C24742 none repeat scroll 0 0;
}
.project{
    background:#7F5F84 none repeat scroll 0 0;
}
.sakuratranding{
    background:#87B402 none repeat scroll 0 0;
}
.accounting{
    background:#A3D1CF none repeat scroll 0 0;
}
.products{
    background:#C8B532 none repeat scroll 0 0;
}
.administration{
    background:#6EBCEC none repeat scroll 0 0;
}
.settings{
    background:#3D3D3D none repeat scroll 0 0;
}
/*login*/
.no-padding-left{
    padding-left:0px;
}
.login-btn {
    background: #A90F0F none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 5px 14px 6px;
}
.login-btn:hover{
    color: #fff;    
}
.login-btn i{
    margin-left:2px;

}.left-label {
    margin-top: 10px;
}
.grey-addon{
    background-color: #fff;
    border-left:2px solid #CE5C5C;
    border-right:none !important;
    border-radius:0;
}
.grey-addon i{
    color:#CCCCCC;
}
.fo-size a{
    font-weight:600;
    color:#000;
}
.red {
    color:#A90F0F;
}
.red a{
    color:#A90F0F;
}
.fo-size.red a {
    border-left: 1px solid #A90F0F;
    padding-left: 13px;
}
.fo-size-medium {
    color: #000;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
.form-sign-in .form-control:focus {
    box-shadow: none;
}
.form-sign-in .form-control{
    border-left:none !important;
    border-radius:0px;
    box-shadow: none;
}
.login{
    background: rgba(0, 0, 0, 0) url("../images/cnctid.jpg") no-repeat scroll 0 0 / cover;
    background-position: 100% 98%
}
.heading {
    font-size: 27px;
    font-weight: 700;
    line-height: 63px;
}
.heading-content {
    font-size: 17px;
    font-weight: 600;
    vertical-align: text-bottom;
}
.pull-left.left-label > input {
    margin-right: 5px;
}
.form-sign-in {
    background: #fff none repeat scroll 0 0;
    margin: 37px auto;
    padding: 20px 30px 35px;
}.form-sign-in form {
    margin-bottom: 25px;
}
.light{
    background:#fff none repeat scroll 0 0;
}
.indo-heading {
    margin: 8px 0;
}
.logoimg {
    float: right;
    height: 65px;
    margin-right: 10px;
}
.account{
    font-size:20px;
    margin-bottom:15px;
}
.account i{
    padding-right:5px;

}h4.login-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}.form-sign-in .form-control {
    padding-left: 0px;
}
.lang li a:hover{
    color:#337ab7;
}
/*home*/
.white-bg {
    background: #fff none repeat scroll 0 0;
    height: 347px;
}
.top-level.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: bottom;
}
#chartdiv3 { 
    height:160px;  width:100%;
}
.dividline{
    border-right:1px solid #D7D7D7
}
.total{
    padding:20px;
}
.total li {
    padding: 0 20px;
}
.text-green {
    font-size: 21px;
    color:#389EAD;
    font-weight:600;
}.text-red {
    font-size: 21px;
    color:#C24642;
    font-weight:600;
}
#chartdiv1 {
    width: 100%;
    height: 200px;
}   
#chartdiv2 {
    width: 100%;
    height: 307px;
}
.content-heading{
    margin-left:10px;
    display: inline;
}
.content-heading > li {
    margin-bottom: 10px;
    margin-top: 10px;
}
.tablistpanel li {
    margin-bottom: 9px;
    margin-top: 8px;
}
.tabpanel-list{
    background:#fff none repeat scroll 0 0;
    margin:0px;
    padding:10px 5px 10px 0;
}
.tabpanel-list i{
    color:#A4A4A4;
}
.tabpanel-list li.active i{
    color:#000;
}
.cicle-lightred{
    border-radius: 100%;
    color: #fff;
    display: block;
    height: 30px;
    width: 30px;
    background: #E39C9A;
    background-image: -webkit-linear-gradient(top, #E39C9A, #edb5b4);
    background-image: -moz-linear-gradient(top, #E39C9A, #edb5b4);
    background-image: -ms-linear-gradient(top, #E39C9A, #edb5b4);
    background-image: -o-linear-gradient(top, #E39C9A, #edb5b4);
    background-image: linear-gradient(to bottom, #E39C9A, #edb5b4);
}
.cicle-red{
    background: #D27874;
    background-image: -webkit-linear-gradient(top, #D27874, #CD6865);
    background-image: -moz-linear-gradient(top, #D27874, #CD6865);
    background-image: -ms-linear-gradient(top, #D27874, #CD6865);
    background-image: -o-linear-gradient(top, #D27874, #CD6865);
    background-image: linear-gradient(to bottom, #D27874, #CD6865);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    color:#FFF;
    border-radius: 100%;
    color: #fff;
    display: block;
    height: 30px;
    padding: 5px;
    width: 30px;
    text-align:center;


}.cicle-red:hover,.cicle-lightred:hover{
    background: #C85956;
    background-image: -webkit-linear-gradient(top, #C85956, #A93B37);
    background-image: -moz-linear-gradient(top, #C85956, #A93B37);
    background-image: -ms-linear-gradient(top, #C85956, #A93B37);
    background-image: -o-linear-gradient(top, #C85956, #A93B37);
    background-image: linear-gradient(to bottom, #C85956, #A93B37);
    text-decoration: none;
    color:#FFF;
}
.cicle-red.badge-btm {
    border-radius: 50%;
    bottom: -10px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    height: 50px;
    padding: 15px 0px;
    position: absolute;
    right: -15px;
    text-align: center;
    width: 50px;
}
.top-level .media-body, .top-level .media-left, .top-level .media-right {
    display: table-cell;
    vertical-align: middle;
}.top-level .media h5, .top-level .media p {
    margin: 5px;
}
.table-project tfoot{
    font-weight:600;
}
.circle-blue {
    background: #2C9DE1;
    background-image: -webkit-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: -moz-linear-gradient(top,#2C9DE1, #84b0c9);
    background-image: -ms-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: -o-linear-gradient(top, #2C9DE11, #84b0c9);
    background-image: linear-gradient(to bottom, #2C9DE1, #84b0c9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 100%;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 18px;
    height: 115px;
    padding: 12px 3px !important;
    text-align: center;
    text-decoration: none;
    vertical-align: middle !important;
    width: 115px;
}

.circle-blue > h5 {
    margin: 0;
}
.circle-blue:hover{
    background: #2C9DE1;
    background-image: -webkit-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: -moz-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: -ms-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: -o-linear-gradient(top, #2C9DE1, #84b0c9);
    background-image: linear-gradient(to bottom, #2C9DE1, #84b0c9);
    color: #fff;
}
.circle-2 {
    display: table;
    margin: 0 auto;
    position: relative;
    text-align: center;
}.circle-2 .circle-blue {
    display: block;
    margin: 0 auto;
    position: relative;
}.circle-2 .circle-blue > h4 {
       font-size: 16px;
    font-weight: bold;
    
}
.tabpanel-list .fa.fa-table{
    bottom: -1px;
    position: relative;
}
.amChartsLegend {
    top: 0px !important;
}
.circle-dark{
    color:#FFF;
    border-radius: 100%;
    display:block;
    background: #86B402;
    background-image: -webkit-linear-gradient(top, #86B402, #d0e398);
    background-image: -moz-linear-gradient(top, #86B402, #d0e398);
    background-image: -ms-linear-gradient(top, #86B402, #d0e398);
    background-image: -o-linear-gradient(top, #86B402, #d0e398);
    background-image: linear-gradient(to bottom, #86B402, #d0e398);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
       font-size: 14px;
    text-decoration: none;
    text-align: center;
     vertical-align: middle !important;
    margin: 0px auto 7px;
        height: 50px;
    padding: 15px 0px;
    width: 50px
}.circle-dark:hover{
    background: #86B402;
    background-image: -webkit-linear-gradient(top, #86B402,#d0e398);
    background-image: -moz-linear-gradient(top, #86B402,#d0e398);
    background-image: -ms-linear-gradient(top, #86B402, #d0e398);
    background-image: -o-linear-gradient(top, #86B402, #d0e398);
    background-image: linear-gradient(to bottom, #86B402, #d0e398);
    color: #fff;
}

.item.sec-level {
    margin-bottom: 15px;
    margin-top: 10px;
}.circle-blue > p {
    line-height: 0;
    margin: 0;
}.top-level .media {
    margin: 0 auto;
    max-width: 215px;
}.toggle-content .list-inline.text-right.btn-li {
    margin-top: 15px;
}
.top-level{
    padding:10px 28px;
    border-right:1px solid #D7D7D7
}
.top-level h4{
    margin-top:0px;
}

.grey-bg{
    background:#f4f4f4 none repeat scroll 0 0;
}
#sync .owl-prev i {
    position: absolute;
    right: 40px;
    top: -42px;
    font-size:35px;
}   
#sync .owl-next i {
    position: absolute;
    right: 20px;
    top: -42px;
    font-size:35px;
}.table.table-lg td, .table.table-lg th {
    padding: 12px 7px !important;
    vertical-align: middle !important;
    white-space: nowrap;
}
.text-right {
    text-align: right !important;
}.dropdown-menu.inner {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: unset;
    width:100%;
}.dropdown-menu .glyphicon {
    display: none;
}
.language_list{float:right;}
.inner-toggle.panel {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
}
.inner-toggle .toggle-content .panel-body {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 4px #d5d6d8;
    overflow: hidden;
    padding: 0;
}.form-control.td-input {
    border: 1px solid #fff;
    box-shadow: none;
    padding-left: 0;
}.form-control.td-input:focus{
    border: 1px solid #A0A0A0;
}.table-collapse.table td {
    white-space: unset;
}
label.select-label::after {
    color: #fff;
    content: "\f107";
    font-family: fontawesome;
    padding: 0 10px;

    position: absolute;
    right: -2px;
    pointer-events: none;
    top: 10px;
    font-weight: normal;
}.select-label .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    height: unset;
    cursor: pointer;
    padding: 8px 20px 8px 10px;
    font-weight: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}label .select-label {
    margin-top: 0;
}label .select-label {
    margin: 0 !important;
}.search-group .btn.btn-dark {
    margin-top: -5px;
}
label.select-label {
    background: #5d5d5d none repeat scroll 0 0;
    border-radius: 3px;
    margin-top: 4px;
    position: relative;
}.select-label select option {
    background: #fff none repeat scroll 0 0;
    color: #333;
}
td select {
    min-width: 100px;
    padding-left: 0 !important;
}
label.select-label.label-white {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    position: relative;
}.select-label.label-white .form-control {
    color: #333;
}label.select-label.label-white::after {
    color: #333;
    font-weight: normal;
}.select-label.label-white .form-control {
    color: #333;
    font-weight: normal;
    font-size: 14px;
}
@media screen and (max-width: 1199px) {
    .white-box img {
        max-width: 23px !important;
    }
    .middle-align li {
        font-size: 14px;
    vertical-align: bottom;
    padding-left:20px;
    } 

    .white-box .white-box-content p {
        font-size: 13px;
    }.btn-white .bs-caret {
        position: static;

    } 
    /*    .table-responsive tbody tr:last-child td .dropdown-menu {
            position: relative !important;
        }*/
    .white-bg.chart-responsive {
        overflow: auto;
    }

}
@media only screen and (max-width: 1230px) {
    .middle-align li {
        font-size: 12px;
        padding-left: 16px;
    }

.white-box .icon {
    left: -9px;
    top: -2px;
}
}
@media screen and (max-width: 991px) {
.white-box .icon {
    left: 0px;
    top: 0px;
}
@media screen and (max-width: 768px) {
    .sidebar-main {
        display: none;
    }
    .sidebar-open .sidebar {
        display: table-cell !important;
    }

    .navbar-toggles.navbar-brand {
        width: 50px;
    }
    .navbar-brand {
        font-size: 18px;
    }
    .white-box {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
    }
    .white-box:last-child {
        width: 100%;
    }

}
@media screen and (max-width: 767px) {
    .table * {
        font-size: 13px;
    }.input-lg {
        font-size: 14px;
    }
    /*list*/
    .table-pagination {
        float:none;
    }
    .showingpara {
        float: none;
    }
    .table-responsive {
        margin-bottom: 0;
    }
    .divider {
        min-width: 146px;
        padding: 0;
    }
}
@media screen and (max-width: 991px) {
    .white-box {
        width: 33.33%;
    }
    .white-box .white-box-content {
        font-size:18px;
    }
    .middle-align li {
        font-size: 16px;
        padding-left: 5px;
    }
}

/*edit*/
@media only screen and (max-width: 1301px) {
.total li{
    padding: 0px 14px;
}
.total li h4 {
    font-size: 12px;
}
.text-red {
    font-size: 17px;
}
.text-green {
    font-size: 16px;
}
}

@media only screen and (max-width: 1230px) {
    .table-percen {
    min-width: 1150px;
    table-layout: fixed;
}
}
@media screen and (max-width: 1100px) {
.white-box img {
        display:none;
    }
    .middle-align li {
               padding-left: 9px;
    }
}
@media screen and (max-width: 991px) {
.total li h4 {
    font-size: 18px;
}
.text-red {
    font-size: 21px;
}
.text-green {
    font-size: 21px;
}
}
@media screen and (max-width: 600px) {
      
    .text-green,.text-red {
        font-size: 16px;
    }
    .total li h4 {
    font-size: 13px;
}
    .total {
    padding: 5px;
}
}
@media only screen and (max-width: 399px) {
.total li{
    padding: 0px 5px;
}
.total li h4 {
    font-size: 11px;
}
} 



@media screen and (max-width: 767px) {
    .white-box {
        width: 50%;
    }
    .table-pagination li a {
        font-size: 11px;
        margin: 3px 3px 3px 0;
    }
    .no-padding-left{
        padding-left:15px;
    }
    .heading {
        font-size: 19px;
    }
    .heading-content {
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    /*user-list*/
    .user-list{
        display:none !important;
    }
    .logoimg {
        height: 54px;
        width: 60px;
    }.heading {
        line-height: 40px;
    }
    .heading-content{
        display:block;
    }
    .text-green,.text-red {
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .sidebar-open .content-wrapper {
        display: table-cell;
        padding-bottom: 20px;
        opacity: 0.03;
        width: 100%;
    }.heading-elements {
        margin-top: 2px;
        position: static;

    }.heading-elements .heading-btn {
        float: left;
        margin-left: 0;
    }.heading-elements.elment-left {
        float: none;
    }
    .heading-btn .dropdown-menu.dropdown-menu-right {
        left: 0;
    }
    .panel.panel-flat .heading-btn a h4 {
        font-size: 13px;
    }.panel-title {
        font-size: 14px;

    }.heading-btn img {
        width: 14px;
    }.pagination > li > a {
        font-size: 11px;
        margin-bottom: 3px;
        cursor: pointer;
        margin-left: 1px;
    }.btn.btn-dark,.btn-dark .btn {
        font-size: 14px;
        padding: 3px 8px;
    }.pagination > li {
        display: inline-block;
    }.pagination.pagination-separated {
        float: right;
        margin: 7px 0;
        text-align: right;
    }.navbar-header .breadcrumb {
        padding: 8px 15px;
    }.btn.btn-grey {
        font-size: 14px;
        padding: 3px 8px;

    }p.showingpara {
        float: none;
        margin-top: 18px;
        text-align: right;
    }
    /*    home*/
    .white-bg{
        overflow:auto;
    }
    .list-inline.text-center.pull-left {
        margin-left: 0px !important;
        padding-left:3px !important;
        margin-top:5px;

    }     .total {
        padding: 5px;

    }
    .total li h4 {
        font-size: 14px;
    }
    .total li {
        padding:0px 10px;
    }
    .list-inline.pull-right.tabpanel-list{
        float:none !important;
        margin-left: 10px;
    }
    .list-inline.lang .pull-left{
        margin-right: 200px;
    }
    h4.login-title {
        font-size: 20px;
    }
    .tabpanel-list {
        padding:0px;
    }
    .full-wid{width:100%;}
    .language_list {
        float: left !important;
    }
    .breadcrumb .dropdown-menu {
    width: 100px;
}
}

